# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/

# Ignore environment files (secrets)
.env

# Ignore macOS junk
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore node modules (if using Node.js)
node_modules/
